.landing {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 10% repeat(4, 20%) 10%;
    grid-template-rows: 10% 20% 25% 25% 15% 5%;
    margin: 0 auto;
    max-height: 90vh;
    margin-bottom: 10vh;
}

.gradient-top {
    grid-column: 1 / span 6;
    grid-row: 1 / span 2;
    background: linear-gradient(
        -170deg, rgba(76, 130, 236, 0.6) 0%, 
        rgba(239,93,171,0.2) 30%, 
        rgba(245,245,245,1) 65%
    );
}

#headshot {
    grid-column: 4 / span 2;
    grid-row: 2 / span 2;
    width: 80%;
    justify-self: end;
    border-radius: 50%;
    border: 5px solid whitesmoke;
    /* box-shadow: 12px 12px 16px 0 rgb(0 0 0 / 25%), -8px -8px 12px 0 rgb(255 255 255 / 30%); */
}

.landing h1 {
    grid-column: 2 / span 2;
    grid-row: 3 / 4;
    align-self: end;
    font-size: 8vw;
    margin: 0;
    opacity: 1;
}

.name {
    grid-column: 2 / 5;
    grid-row: 4 / 5;
    align-self: center;
    height: 90%;
}

#desc {
    grid-column: 2 / 5;
    grid-row: 5 / 6;
    font-size: 2vw;
    font-weight: 100;
    max-width: 60vw;
    line-height: 1.5;
}

#point-down {
    grid-column: 5;
    grid-row: 5;
    font-size: 5vw;
    justify-self: end;
}