.overview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(2, auto 1fr) auto auto;
    margin: 0 auto;
    width: 85vw;
    min-height: 100vh;
}

.overview h1 {
    grid-column: 1 / span 8;
    grid-row: 1;
    place-self: center;
    font-size: 4vw;
}

#full-stack {
    grid-column: 1 / span 4;
    grid-row: 2;
    color: #4c5bdb;
}

#hacks {
    grid-column: 1 / span 4;
    grid-row: 4;
    color: rgb(146, 94, 198);
    padding-top: 20px;
}

#experiments {
    grid-column: 1 / span 4;
    grid-row: 6;
    color: #ef5dab;
    padding-top: 20px;
}

.minicards {
    grid-column: 1 / span 4;
    grid-row: 7;
}